site_name: Documentation AdvancedDevSample
theme:
  name: material
  palette:
    primary: indigo
    accent: indigo

nav:
  - Accueil: index.md
  - Architecture: architecture.md
  - API Reference: api.md
