name: CI/CD & Documentation

on:
    push:
        branches: ["main"]
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.x
            - name: Restaurer & Compiler
              run: |
                  dotnet restore
                  dotnet build --no-restore
            - name: Lancer les Tests
              run: dotnet test --no-build --verbosity normal

    deploy-docs:
        needs: build-and-test
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: 3.x
            - run: pip install mkdocs-material
            - run: mkdocs gh-deploy --force
